.display-wrapper {
    height: 45px;
    background: #fff;
    padding: 4px 10px;
    font-size: 1.75em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.display {
    float: right;
}