.user-panel {
    color: #fff;
    button {
        all: unset;
        background: #f7ede3;
        border: 1px solid #1c2541;
        width: 100px;
        padding: 4px 0 6px;
        cursor: pointer;
        margin-right: 1em;
        border-radius: 5px;
        color: #222;
    }
}